.timeline-circle-big,.timeline-circle-small{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none
}
.timeline-circle-small{
    position:absolute;
    left:-24px;
    width:48px;
    height:48px;
    padding-top:0.75em;
    border-radius:50%;
    border:1px solid #333;
    background-color:#fcfcfc;
    text-align:center;
    z-index:9
}
.timeline-circle-small span{
    font-size:0.66667em;
    font-weight:300;
    display:inline-block;
    padding-top:15px
}
.timeline-circle-small img{
    margin-top:9px;
    width:28px;
    height:28px
}
.touch .timeline-circle-small,.no-js .timeline-circle-small,.ie8-and-lower .timeline-circle-small{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.touch .timeline-circle-small:before,.no-js .timeline-circle-small:before,.ie8-and-lower .timeline-circle-small:before{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.timeline-circle-big{
    display:block;
    margin:-3em auto 0;
    width:6em;
    height:6em;
    border-radius:50%;
    border:1px solid #333;
    background-color:#fcfcfc;
    text-align:center
}
.timeline-circle-big span{
    background:none !important;
    font-size:1.16667em;
    font-weight:300;
    display:inline-block;
    padding-top:1.8em;
    text-align:center
}
.timeline-circle-big span [foo],.timeline-circle-big span{
    -webkit-transition:opacity 250ms linear;
    -moz-transition:opacity 250ms linear;
    -o-transition:opacity 250ms linear;
    -ms-transition:opacity 250ms linear;
    transition:opacity 250ms linear
}
section.teaser{
    text-align:center;
    position:relative
}
section.teaser .timeline-circle-small{
    background:#fcfcfc;
    border-color:#333;
    color:#212121;
    position:absolute;
    top:auto;
    left:50%;
    margin-left:-24px;
    margin-bottom:-24px;
    bottom:0px
}
section.teaser .timeline-circle-small:before{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.timeline{
    position:relative;
    padding:0;
    background-color:#fcfcfc;
    background:#fcfcfc url("") repeat 0 0
}
.timeline.magenta{
    color:#D78042
}
.timeline.magenta .timeline-circle-big,.timeline.magenta .timeline-circle-small,.timeline.magenta .timeline-item,.timeline.magenta .timeline-chapter-headline:before,.timeline.magenta .timeline-chapter-headline:after,.timeline.magenta .timeline-item-container .wrapper:before{
    border-color:#D78042 !important
}
.timeline.magenta .timeline-section-window,.timeline.magenta .timeline-section-window>div{
    background-color:#D78042
}
.timeline.magenta.active .timeline-circle-small:before,.timeline.magenta .active .timeline-circle-small:before,.touch .timeline.magenta .timeline-circle-small:before,.no-js .timeline.magenta .timeline-circle-small:before,.ie8-and-lower .timeline.magenta .timeline-circle-small:before{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.timeline.bg-light-blue .timeline-chapter-headline,.timeline.bg-light-blue .timeline-circle-big,.timeline.bg-light-blue .timeline-circle-small,.timeline.bg-light-blue .timeline-item,.timeline.bg-light-blue .timeline-chapter-headline:before,.timeline.bg-light-blue .timeline-chapter-headline:after,.timeline.bg-light-blue .timeline-item-container .wrapper:before{
    border-color:#6B9131 !important
}
.timeline.bg-light-blue .timeline-circle-big,.timeline.bg-light-blue .timeline-circle-small,.timeline.bg-light-blue .timeline-chapter-headline{
    background-color:#FAFCF1;
    background:#FAFCF1 url("../img/bg/bg_lightblue.jpg") repeat 0 0
}
.timeline.bg-light-blue .timeline-section-window,.timeline.bg-light-blue .timeline-section-window>div{
    background:#6B9131
}
.timeline.bg-light-blue.active .timeline-circle-small:before,.timeline.bg-light-blue .active .timeline-circle-small:before,.touch .timeline.bg-light-blue .timeline-circle-small:before,.no-js .timeline.bg-light-blue .timeline-circle-small:before,.ie8-and-lower .timeline.bg-light-blue .timeline-circle-small:before{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.timeline .timeline-chapter-headline,.timeline .timeline-item{
    position:relative;
    border-style:solid;
    border-color:#333;
    border-width:0px
}
.timeline .timeline-chapter-headline.single-col,.timeline .timeline-item.single-col{
    max-height:none
}
.timeline .timeline-chapter-headline{
    text-align:center;
    padding:0 6em 4em;
    border-width:0px;
    background-color:#fcfcfc;
    z-index:10
}
.timeline .timeline-chapter-headline:before{
    content:'';
    height:384px;
    width:50%;
    margin-left:50%;
    display:block;
    border-left:1px solid #333
}
.timeline .timeline-chapter-headline.without-after,.touch .timeline .timeline-chapter-headline,.no-js .timeline .timeline-chapter-headline,.ie8-and-lower .timeline .timeline-chapter-headline{
    padding-bottom:8em
}
.timeline .timeline-chapter-headline.without-after:after,.touch .timeline .timeline-chapter-headline:after,.no-js .timeline .timeline-chapter-headline:after,.ie8-and-lower .timeline .timeline-chapter-headline:after{
    content:none;
    height:0;
    border-left:0
}
.timeline .timeline-chapter-headline .headline-group{
    margin:0
}
.timeline .timeline-chapter-headline .headline-group h2{
    padding-left:0.66667em;
    padding-right:0.66667em;
    margin-top:0.55556em;
    font-weight:400
}
.timeline .timeline-chapter-headline .headline-group h2 .font-light{
    white-space:nowrap;
    display:inline-block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity:0.7;
    opacity:0.7
}
.timeline .timeline-section-window{
    display:block;
    position:fixed;
    left:0px;
    top:0px;
    width:50%;
    height:100%;
    overflow:hidden;
    cursor:default;
    vertical-align:top;
    background-color:#333;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0
}
.timeline .timeline-section-window [foo],.timeline .timeline-section-window{
    -webkit-transition:opacity 0.8s ease-in-out;
    -moz-transition:opacity 0.8s ease-in-out;
    -o-transition:opacity 0.8s ease-in-out;
    -ms-transition:opacity 0.8s ease-in-out;
    transition:opacity 0.8s ease-in-out
}
.no-touch .timeline .timeline-section-window{
    background-repeat:no-repeat;
    background-position:center bottom;
    background-attachment:scroll;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.'$url, sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" none "', sizingMethod='scale')";
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
.timeline .timeline-section-window img{
    width:auto;
    height:auto;
    display:block
}
.timeline .timeline-section-window picture,.timeline .timeline-section-window .picture{
    width:100%;
    height:100%;
    display:block;
    position:relative
}
.timeline .timeline-section-window.inline-picture{
    padding:4em 4em 4em 2.22222em;
    text-align:right
}
.timeline .timeline-section-window.inline-picture img{
    width:100%
}
.timeline .timeline-section-window.inline-picture>img{
    width:97%;
    display:inline-block
}
.timeline .timeline-section-window.inline-picture picture,.timeline .timeline-section-window.inline-picture .picture{
    width:97%;
    height:auto;
    float:none;
    position:relative;
    display:inline-block;
    vertical-align:middle
}
.timeline .timeline-section-window.inline-picture:before{
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:1%;
    min-width:1px
}
.timeline .timeline-section-window.full-height-picture{
    text-align:right
}
.timeline .timeline-section-window.full-height-picture img,.timeline .timeline-section-window.full-height-picture .picture,.timeline .timeline-section-window.full-height-picture picture,.timeline .timeline-section-window.full-height-picture noscript{
    display:block;
    display:inline-block;
    height:100%;
    width:100%;
    position:absolute;
    bottom:0px;
    right:0px
}
.timeline .timeline-section-window.full-height-picture img{
    max-height:100%;
    max-width:100%;
    width:auto;
    height:auto
}
.no-js .timeline .timeline-section-window.full-height-picture,.ie8-and-lower .timeline .timeline-section-window.full-height-picture{
    text-align:center
}
.timeline .timeline-section-window.full-width-picture{
    text-align:right;
    width:51%;
    margin-left:-1%
}
.timeline .timeline-section-window.full-width-picture picture,.timeline .timeline-section-window.full-width-picture .picture{
    display:inline-block;
    position:relative;
    width:98%;
    margin-right:-1px;
    height:auto;
    vertical-align:middle;
    float:none
}
.timeline .timeline-section-window.full-width-picture img{
    width:100%;
    height:auto;
    float:none
}
.timeline .timeline-section-window.full-width-picture:before{
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:1px;
    margin-right:-2px
}
.touch .timeline .timeline-section-window,.no-js .timeline .timeline-section-window,.ie8-and-lower .timeline .timeline-section-window{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    position:absolute;
    left:-110%;
    margin-left:-1px;
    width:110%;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:scroll;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.'$url, sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" none "', sizingMethod='scale')";
    -webkit-background-size:auto 110%;
    -moz-background-size:auto 110%;
    -o-background-size:auto 110%;
    background-size:auto 110%;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
.timeline .timeline-item{
    padding:2.22222em 0 2.22222em;
    margin-left:50%;
    border-left-width:1px;
    text-align:left;
    min-height:768px;
    cursor:default
}
.no-touch .timeline .timeline-item:first-child{
    padding-top:0 !important
}
.timeline .timeline-item .timeline-item-headline{
    font-size:1.5625em;
    line-height:1.36em;
    padding:0.16667em 50px 0;
    position:relative;
    font-weight:400
}
.timeline .timeline-item .timeline-item-headline .font-light{
    white-space:nowrap;
    display:inline-block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity:0.7;
    opacity:0.7
}
.timeline .timeline-item p{
    font-size:0.66667em;
    padding:1em 50px 0;
    max-width:42em;
    position:relative;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0
}
.timeline .timeline-item p [foo],.timeline .timeline-item p{
    -webkit-transition:opacity 250ms linear;
    -moz-transition:opacity 250ms linear;
    -o-transition:opacity 250ms linear;
    -ms-transition:opacity 250ms linear;
    transition:opacity 250ms linear;
    transition-delay:400ms;
    -webkit-transition-delay:400ms
}
.touch .timeline .timeline-item,.no-js .timeline .timeline-item,.ie8-and-lower .timeline .timeline-item{
    min-height:500px
}
.timeline .timeline-item-container{
    position:relative;
    overflow:hidden
}
.timeline .timeline-item-container .wrapper:before{
    content:'';
    height:384px;
    width:50%;
    margin-left:50%;
    display:block;
    border-left:1px solid #797979
}
.touch .timeline .timeline-item-container .wrapper:before,.no-js .timeline .timeline-item-container .wrapper:before,.ie8-and-lower .timeline .timeline-item-container .wrapper:before{
    content:none
}
.touch .timeline .timeline-item-container .timeline-item,.no-js .timeline .timeline-item-container .timeline-item,.ie8-and-lower .timeline .timeline-item-container .timeline-item{
    padding-top:4em;
    padding-bottom:4em
}
.touch .timeline .timeline-item-container .timeline-item p,.no-js .timeline .timeline-item-container .timeline-item p,.ie8-and-lower .timeline .timeline-item-container .timeline-item p{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.timeline.active .timeline-item.active .timeline-circle-small:before{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.timeline.active .timeline-item.active p{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
.timeline.active .timeline-item.active .timeline-section-window{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1;
    position:fixed
}
.timeline.active .timeline-item.active .timeline-section-window>div{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity:1
}
@media only screen and (max-width: 959px){
    .timeline .col6,.timeline .timeline-item{
        width:50%;
        padding-right:1em
    }
    .timeline .col6 .timeline-item-headline,.timeline .timeline-item .timeline-item-headline{
        padding-right:0
    }
    .timeline .timeline-section-window>div.full-height-picture img,.timeline .timeline-section-window.show>div.full-height-picture img{
        max-height:80%;
        position:absolute;
        bottom:0;
        right:0
    }
    .touch .timeline .timeline-section-window,.no-js .timeline .timeline-section-window,.ie8-and-lower .timeline .timeline-section-window,.touch .timeline .timeline-section-window.show,.no-js .timeline .timeline-section-window.show,.ie8-and-lower .timeline .timeline-section-window.show{
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:scroll;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.'$url, sizingMethod='scale');
        -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" none "', sizingMethod='scale')";
        -webkit-background-size:auto 102%;
        -moz-background-size:auto 102%;
        -o-background-size:auto 102%;
        background-size:auto 102%
    }
}
@media only screen and (max-width: 767px){
    .timeline{
        width:100%;
        margin-left:0 !important;
        margin-right:0 !important;
        margin-top:-5px
    }
    .timeline .timeline-section-window,.touch .timeline .timeline-section-window,.timeline .timeline-section-window.full-width-picture,.touch .timeline .timeline-section-window.full-width-picture{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1;
        background-repeat:no-repeat;
        background-position:center top;
        background-attachment:scroll;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.'$url, sizingMethod='scale');
        -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" none "', sizingMethod='scale')";
        -webkit-background-size:100% auto;
        -moz-background-size:100% auto;
        -o-background-size:100% auto;
        background-size:100% auto;
        position:static !important;
        width:116%;
        margin-left:-6.89655%;
        display:block;
        height:320px;
        padding:0 !important;
        position:relative
    }
    .timeline .timeline-section-window img,.touch .timeline .timeline-section-window img,.timeline .timeline-section-window.full-width-picture img,.touch .timeline .timeline-section-window.full-width-picture img{
        width:100% !important;
        height:auto !important;
        min-height:inherit !important;
        max-height:inherit !important;
        min-width:inherit !important;
        max-width:inherit !important
    }
    .timeline .timeline-section-window:before,.timeline .timeline-section-window:after,.touch .timeline .timeline-section-window:before,.touch .timeline .timeline-section-window:after,.timeline .timeline-section-window.full-width-picture:before,.timeline .timeline-section-window.full-width-picture:after,.touch .timeline .timeline-section-window.full-width-picture:before,.touch .timeline .timeline-section-window.full-width-picture:after{
        content:none !important;
        height:0 !important;
        width:0 !important
    }
    .timeline .timeline-section-window.full-width-picture,.touch .timeline .timeline-section-window.full-width-picture,.timeline .timeline-section-window.full-width-picture.full-width-picture,.touch .timeline .timeline-section-window.full-width-picture.full-width-picture{
        text-align:center
    }
    .timeline .timeline-section-window.full-height-picture,.touch .timeline .timeline-section-window.full-height-picture,.timeline .timeline-section-window.full-width-picture.full-height-picture,.touch .timeline .timeline-section-window.full-width-picture.full-height-picture{
        padding:0 !important;
        background-repeat:no-repeat;
        background-position:center bottom;
        background-attachment:scroll;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.'$url, sizingMethod='scale');
        -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" none "', sizingMethod='scale')";
        -webkit-background-size:auto 100%;
        -moz-background-size:auto 100%;
        -o-background-size:auto 100%;
        background-size:auto 100%
    }
    .timeline .timeline-section-window.full-height-picture img,.timeline .timeline-section-window.full-height-picture picture,.timeline .timeline-section-window.full-height-picture .picture,.touch .timeline .timeline-section-window.full-height-picture img,.touch .timeline .timeline-section-window.full-height-picture picture,.touch .timeline .timeline-section-window.full-height-picture .picture,.timeline .timeline-section-window.full-width-picture.full-height-picture img,.timeline .timeline-section-window.full-width-picture.full-height-picture picture,.timeline .timeline-section-window.full-width-picture.full-height-picture .picture,.touch .timeline .timeline-section-window.full-width-picture.full-height-picture img,.touch .timeline .timeline-section-window.full-width-picture.full-height-picture picture,.touch .timeline .timeline-section-window.full-width-picture.full-height-picture .picture{
        position:static !important;
        text-align:center;
        bottom:auto;
        right:auto;
        text-align:center
    }
    .timeline .timeline-section-window.full-height-picture img img,.timeline .timeline-section-window.full-height-picture picture img,.timeline .timeline-section-window.full-height-picture .picture img,.touch .timeline .timeline-section-window.full-height-picture img img,.touch .timeline .timeline-section-window.full-height-picture picture img,.touch .timeline .timeline-section-window.full-height-picture .picture img,.timeline .timeline-section-window.full-width-picture.full-height-picture img img,.timeline .timeline-section-window.full-width-picture.full-height-picture picture img,.timeline .timeline-section-window.full-width-picture.full-height-picture .picture img,.touch .timeline .timeline-section-window.full-width-picture.full-height-picture img img,.touch .timeline .timeline-section-window.full-width-picture.full-height-picture picture img,.touch .timeline .timeline-section-window.full-width-picture.full-height-picture .picture img{
        display:inline-block
    }
    .timeline .timeline-section-window.inline-picture,.touch .timeline .timeline-section-window.inline-picture,.timeline .timeline-section-window.full-width-picture.inline-picture,.touch .timeline .timeline-section-window.full-width-picture.inline-picture{
        padding-left:2em !important;
        padding-right:2em important
    }
    .timeline .timeline-section-window.inline-picture picture,.timeline .timeline-section-window.inline-picture .picture,.timeline .timeline-section-window.inline-picture img,.touch .timeline .timeline-section-window.inline-picture picture,.touch .timeline .timeline-section-window.inline-picture .picture,.touch .timeline .timeline-section-window.inline-picture img,.timeline .timeline-section-window.full-width-picture.inline-picture picture,.timeline .timeline-section-window.full-width-picture.inline-picture .picture,.timeline .timeline-section-window.full-width-picture.inline-picture img,.touch .timeline .timeline-section-window.full-width-picture.inline-picture picture,.touch .timeline .timeline-section-window.full-width-picture.inline-picture .picture,.touch .timeline .timeline-section-window.full-width-picture.inline-picture img{
        width:100%
    }
    .no-js .timeline .timeline-section-window,.ie8-and-lower .timeline .timeline-section-window,.no-js .touch .timeline .timeline-section-window,.ie8-and-lower .touch .timeline .timeline-section-window,.no-js .timeline .timeline-section-window.full-width-picture,.ie8-and-lower .timeline .timeline-section-window.full-width-picture,.no-js .touch .timeline .timeline-section-window.full-width-picture,.ie8-and-lower .touch .timeline .timeline-section-window.full-width-picture{
        width:116%;
        margin-left:-6.89655%;
        padding-left:6.89655% !important;
        padding-right:6.89655% !important;
        -webkit-background-size:100%;
        -moz-background-size:100%;
        -o-background-size:100%;
        background-size:100%;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover
    }
    .timeline .timeline-chapter-headline{
        padding-left:1em;
        padding-right:1em;
        padding-top:150px;
        padding-bottom:50px
    }
    .timeline .timeline-chapter-headline h2{
        padding:0;
        margin-top:0.55556em
    }
    .timeline .timeline-chapter-headline .subheadline{
        font-size:0.83333em
    }
    .timeline .timeline-chapter-headline:before,.timeline .timeline-chapter-headline:after{
        content:none;
        border:0;
        height:0px;
        min-height:0
    }
    .timeline .timeline-item-container .wrapper:before{
        border:0;
        height:0 !important;
        min-height:0 !important
    }
    .timeline .timeline-item,.touch .timeline .timeline-item{
        min-height:initial;
        padding-left:0;
        padding-right:0;
        padding-bottom:6em;
        padding-top:0 !important;
        border:0;
        width:100%;
        margin-left:0;
        margin-right:0;
        position:static;
        display:block;
        text-align:center;
        overflow:visible;
        min-height:0 !important
    }
    .timeline .timeline-item:first-child,.touch .timeline .timeline-item:first-child{
        margin-top:0 !important
    }
    .timeline .timeline-item .timeline-circle-small,.touch .timeline .timeline-item .timeline-circle-small{
        position:relative;
        margin-top:-24px;
        margin-left:-24px;
        left:50%
    }
    .timeline .timeline-item .timeline-item-headline,.timeline .timeline-item p,.touch .timeline .timeline-item .timeline-item-headline,.touch .timeline .timeline-item p{
        text-align:center;
        padding-left:0;
        padding-right:0
    }
    .timeline .timeline-item .timeline-item-headline,.touch .timeline .timeline-item .timeline-item-headline{
        font-size:1.16667em;
        margin-top:1em;
        max-width:400px;
        display:inline-block
    }
    .timeline .timeline-item p,.touch .timeline .timeline-item p{
        max-width:360px;
        margin-left:auto;
        display:inline-block;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1
    }
}
@media only screen and (max-width: 480px){
    .timeline .timeline-item .timeline-section-window,.touch .timeline .timeline-item .timeline-section-window,.timeline .timeline-item .timeline-section-window.full-width-picture,.touch .timeline .timeline-item .timeline-section-window.full-width-picture{
        height:200px
    }
    .timeline .timeline-item p{
        max-width:240px
    }
    .timeline .timeline-chapter-headline:before,.timeline .timeline-item-container .wrapper:before{
        min-height:50px
    }
    .timeline .timeline-item{
        min-height:320px !important
    }
}
@media only screen and (min-height: 799px){
    .timeline .timeline-chapter-headline:before{
        height:450px
    }
    .no-touch .timeline .timeline-item{
        min-height:900px
    }
    .touch .timeline .timeline-chapter-headline:after,.no-js .timeline .timeline-chapter-headline:after,.ie8-and-lower .timeline .timeline-chapter-headline:after{
        height:0px
    }
    .touch .timeline-section-window>div,.no-js .timeline-section-window>div,.ie8-and-lower .timeline-section-window>div{
        min-height:0px
    }
}
@media only screen and (max-height: 600px){
    .timeline .timeline-chapter-headline:before,.timeline .timeline-item-container .wrapper:before{
        height:250px
    }
    .no-touch .timeline .timeline-item{
        min-height:600px
    }
    .touch .timeline .timeline-chapter-headline:after,.no-js .timeline .timeline-chapter-headline:after,.ie8-and-lower .timeline .timeline-chapter-headline:after,.touch .timeline .timeline-item-container .wrapper:before,.ie8-and-lower .timeline .timeline-item-container .wrapper:before{
        height:0px
    }
    .touch .timeline .timeline-item,.no-js .timeline .timeline-item,.ie8-and-lower .timeline .timeline-item{
        min-height:0px
    }
}
@media only screen and (max-height: 480px){
    .timeline .timeline-chapter-headline:before{
        height:150px
    }
    .timeline .timeline-item-container .wrapper:before{
        height:0px
    }
    .no-touch .timeline .timeline-item{
        min-height:480px
    }
    .touch .timeline .timeline-item,.no-js .timeline .timeline-item,.ie8-and-lower .timeline .timeline-item{
        min-height:0px
    }
}
@media only screen and (min-width: 768px){
    #bgimage-t-landingpage{
        background-image:url("../img/cv/t-landingpage-bg_w960.jpg")
    }
    #bgimage-t-reise{
        background-image:url("../img/cv/t-reise_w960.jpg")
    }
    #bgimage-t-store{
        background-image:url("../img/cv/t-store_w960.jpg")
    }
    #bgimage-t-guide{
        background-image:url("../img/cv/t-guide_w960.jpg")
    }
    #bgimage-hp-dctpart{
        background-image:url("../img/cv/hp-dctp-art_w960.jpg")
    }
    #bgimage-hp-dctpdvd{
        background-image:url("../img/cv/hp-dctpdvd_w960.jpg")
    }
    #bgimage-kisd-diploma{
        background-image:url("../img/cv/kisd-diploma_w960.jpg")
    }
    #bgimage-kisd-abroad{
        background-image:url("../img/cv/kisd-abroad_w960.jpg")
    }
    #kisd-intern img{
        max-width:360px
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
    #bgimage-t-landingpage{
        background-image:url("../img/cv/t-landingpage-bg_w960_2x.jpg")
    }
    #bgimage-t-reise{
        background-image:url("../img/cv/t-reise_w960_2x.jpg")
    }
    #bgimage-t-store{
        background-image:url("../img/cv/t-store_w960_2x.jpg")
    }
    #bgimage-t-guide{
        background-image:url("../img/cv/t-guide_w960_2x.jpg")
    }
    #bgimage-hp-dctpart{
        background-image:url("../img/cv/hp-dctp-art_w960_2x.jpg")
    }
    #bgimage-hp-dctpdvd{
        background-image:url("../img/cv/hp-dctpdvd_w960_2x.jpg")
    }
    #bgimage-kisd-diploma{
        background-image:url("../img/cv/kisd-diploma_w960_2x.jpg")
    }
    #bgimage-kisd-abroad{
        background-image:url("../img/cv/kisd-abroad_w960_2x.jpg")
    }
    #kisd-intern img{
        max-width:360px
    }
}
@media only screen and (max-width: 767px){
    #bgimage-t-landingpage{
        background-image:none
    }
    #bgimage-t-reise{
        background-image:url("../img/cv/t-reise_w767.jpg")
    }
    #bgimage-t-store{
        background-image:url("../img/cv/t-store_w767.jpg")
    }
    #bgimage-t-guide{
        background-image:url("../img/cv/t-guide_w767.jpg")
    }
    #bgimage-hp-dctpart{
        background-image:url("../img/cv/hp-dctp-art_w767.jpg")
    }
    #bgimage-hp-dctpdvd{
        background-image:url("../img/cv/hp-dctpdvd_w767.jpg")
    }
    #bgimage-kisd-diploma{
        background-image:url("../img/cv/kisd-diploma_w767.jpg")
    }
    #bgimage-kisd-abroad{
        background-image:url("../img/cv/kisd-abroad_w767.jpg")
    }
    #kisd-intern{
        text-align:center;
        padding-top:3.5em !important
    }
    #kisd-intern img{
        max-width:200px !important;
        display:inline-block
    }
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 767px) and (-moz-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi), only screen and (max-width: 767px) and (min-resolution: 2dppx){
    #bgimage-t-landingpage{
        background-image:none
    }
    #bgimage-t-reise{
        background-image:url("../img/cv/t-reise_w767_2x.jpg")
    }
    #bgimage-t-store{
        background-image:url("../img/cv/t-store_w767_2x.jpg")
    }
    #bgimage-t-guide{
        background-image:url("../img/cv/t-guide_w767_2x.jpg")
    }
    #bgimage-hp-dctpart{
        background-image:url("../img/cv/hp-dctp-art_w767_2x.jpg")
    }
    #bgimage-hp-dctpdvd{
        background-image:url("../img/cv/hp-dctpdvd_w767_2x.jpg")
    }
    #bgimage-kisd-diploma{
        background-image:url("../img/cv/kisd-diploma_w767_2x.jpg")
    }
    #bgimage-kisd-abroad{
        background-image:url("../img/cv/kisd-abroad_w767_2x.jpg")
    }
    #kisd-intern{
        text-align:center;
        padding-top:3.5em !important
    }
    #kisd-intern img{
        max-width:200px !important;
        display:inline-block
    }
}
 